.container {
  width: 100%;
  position: relative;
  padding-left: $g-offset;
  padding-right: $g-offset;
  @include media('<=#{$br2}') {
    padding-left: $g-s;
    padding-right: $g-s;
  }
}

.container--fh {
  height: 100%;
}

.container--nm {
  padding-left: 0;
  padding-right: 0;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  column-gap: vw(20);
  grid-auto-flow: column;
  @include media('<=#{$br2}') {
    grid-template-columns: repeat(2, 1fr);
  }
}

.section {
  padding-top: vw(300);
  &--nm {
    padding-top: 0;
  }
  &--pb {
    padding-bottom: vw(300);
  }
  @include media('<=#{$br1}') {
    padding-top: 160px;
    &--pb {
      padding-bottom: 160px;
    }
  }
}
